<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Product</title>
</head>

	<body>
		<a href="/" class="btn btn-primary">Back to Home</a>
	    
	    <h1>Add New Product</h1>
	    
	    <form th:action="@{/addProduct}" th:object="${produs}" method="post" enctype="multipart/form-data">
	        
	        <label for="nume">Name:</label>
	        <input type="text" id="nume" th:field="*{nume}" required /><br>
	
	        <label for="pret">Price:</label>
	        <input type="number" id="pret" th:field="*{pret}" required /><br>
	
	        <label for="stoc">Stock:</label>
	        <input type="number" id="stoc" th:field="*{stoc}" required /><br>
	
	        <label for="image">Image:</label>
	        <input type="file" id="image" name="image" required  accept="image/*"/><br>
	
	        <button type="submit">Submit</button>
	        
	    </form>
	    
	</body>
	
</html>
