<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="utf-8">
		<title>Login_Page</title>
	</head>
	
	<body>
		<a href="/" class="btn btn-primary">Back to Home</a>
		<h1>Login form:</h1>
		
		<form th:action="@{/login}" th:object="${utilizator}" method="post">
			<p th:if="${invalidCredentials}" class="error" style="color: red;">Username or Password is wrong</p> 
			<label for="nume"> Username </label>
			<input type="text" id="nume" th:field="*{nume}" placeholder="Enter username" autofocus="autofocus"/>
			
			<label for="parola">Password</label>
			<input type="password" id="parola" th:field="*{parola}" placeholder="Enter password"/>
			
			<br/>
			<input type="submit" value="Log in"/>
		</form>
		<a href="/signIn" class="btn btn-primary">Sign in here</a>
	</body>
	
</html>