<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<meta charset="utf-8">
    	<title>Preferate</title>
    	<link rel="stylesheet" href="/preferateStyle.css">
	</head>
	
	<body>
		<a href="/" class="btn btn-primary">Back to Home</a>
		<section class="preferate">
		
			<div class="product-container" th:each="produs: ${Preferate}">
				<div class="product-card">
					<a th:href="@{/product/{id}(id=${produs.id})}">
						<img th:src="@{${produs.img}}" alt="an image of the product" class="product-img">
					
				
						<div class="product-text">
							<h2 th:text="${produs.nume}"></h2>
							<p th:text="${produs.desc}"></p>
						</div>
					</a>
				</div>
			</div>
			
		</section>
		
	</body>
	
</html>