<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title th:text="${produs.nume}">Product Details</title>
   <script src="https://kit.fontawesome.com/fdc29e935d.js" crossorigin="anonymous"></script> 
</head>

<body>
    <header>
        <a href="/" class="btn btn-primary">Back to Home</a>
    </header>
    <section>
        <h1 th:text="${produs.nume}"></h1>
        <img th:src="${produs.img}" alt="Product image" width="200px">
        <p><strong>Price:</strong> <span th:text="${produs.pret} + ' RON'"></span></p>
        <p><strong>Stock:</strong> <span th:text="${produs.stoc}"></span></p>
        <p th:text="${produs.desc}"></p>
        
        <div th:if="${isPreferred}" >
	        <form  th:action="@{/preferate/remove}" method="post" >
				<input type="hidden" th:value="${produs.id}" name="productId"/>
				<button type="submit" >
					<i class="fa-solid fa-heart"></i>		
				</button>        
	        </form>
	        
        </div>
        
        <div th:unless="${isPreferred}">
         <form th:action="@{/preferate/add}" method="post">
        	<input type="hidden" th:value="${produs.id}" name="productId"/>
        	<button type="submit">
        		<i class="fa-regular fa-heart"></i>
        	</button>
        </form>
        </div>
        
        <div>
        	<form th:action="@{/addCos}" method="post">
        		<input type="hidden" th:value="${produs.id}" name="productId" />
        		<button type="submit">Add to Cart</button>
        	</form>
        </div>
        
        <div th:if="${quantity>0}">
        	<p> You have added </p> <p th:text="${quantity}"/>
        	
        </div>
    </section>
</body>
</html>